*{
    padding: 0;
    margin: 0;
    box-sizing: cover;

}
body{
    font-family: 'Inconsolata', monospace;
    font-family: 'Outfit', sans-serif;
}
header{
    position: sticky;
    top: 0;
    z-index: 50;
}
header ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    background-image: linear-gradient(122.32deg,#6d4aff 30.66%, #31d1d0 93.8%);
}
header ul li{
    margin: 25px 45px;
}
header ul li a{
    text-decoration: none;
    transition: 0.5s;
    width: 60px;
    color: white;
    font-size: 22px;
    position: relative;
}
header ul li a::after{
    content: "";
    height: 3px;
    width: 0;
    position: absolute;
    background-color: white;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
header ul li a:hover{
    letter-spacing: 2px; 
}
header ul li a:hover::after{
width: 100%;
}

.animate i:nth-child(1){
    width: 300px;
    height: 5px;
    background-image: linear-gradient(122.32deg,#6d4aff 30.66%,#31d1d0 93.8%);
    position: absolute;
    margin-top: 70px;
    
    animation: one 5s infinite;
 filter: blur(4px);
}
.animate i:nth-child(2){
    width: 300px;
    height: 5px;
    background-image: linear-gradient(122.32deg,#6d4aff 30.66%,#31d1d0 93.8%);
    position: absolute;
    margin-top: 160px;
    margin-left : 800px;
    animation: tow 5.4s infinite;
    filter: blur(4px);
}
.animate i:nth-child(3){
    width: 300px;
    height: 5px;
    background-image: linear-gradient(122.32deg,#6d4aff 30.66%,#31d1d0 93.8%);
    position: absolute;
    margin-top: 240px;
    margin-left : 300px;
    animation: three 5.4s infinite;
    filter: blur(4px);
}
    .animate i:nth-child(4){
    width: 300px;
    height: 5px;
    background-image: linear-gradient(122.32deg,#6d4aff 30.66%,#31d1d0 93.8%);
    position: absolute;
    margin-top: 320px;
    margin-left : 950px;
    animation: four 4.7s infinite;
    filter: blur(4px);
}
.animate i:nth-child(5){
    width: 300px;
    height: 5px;
    background-image: linear-gradient(122.32deg,#6d4aff 30.66%,#31d1d0 93.8%);
    position: absolute;
    margin-top: 400px;
    margin-left : 640px;
    animation: five 4.8s infinite;
    filter: blur(4px);
}
.animate i:nth-child(6){
    width: 300px;
    height: 5px;
    background-image: linear-gradient(122.32deg,#6d4aff 30.66%,#31d1d0 93.8%);
    position: absolute;
    margin-top: 480px;
    margin-left : 170px;
    animation: six 5.3s infinite;
    filter: blur(4px);
}
.animate i:nth-child(7){
    width: 300px;
    height: 5px;
    background-image: linear-gradient(122.32deg,#6d4aff 30.66%,#31d1d0 93.8%);
    position: absolute;
    margin-top: 560px;
    margin-left : 780px;
    animation: seven 4.6s infinite;
    filter: blur(4px);
}
.animate i:nth-child(8){
    width: 300px;
    height: 5px;
    background-image: linear-gradient(122.32deg,#6d4aff 30.66%,#31d1d0 93.8%);
    position: absolute;
    margin-top: 620px;
    margin-left : 1130px;
    animation: eight 5s infinite;
    filter: blur(4px);
}
.animate i{
    z-index: -1;
}
@keyframes one{
    0%{transform: translateX(1150px);}
    50%{transform: translateX(0px);}
    100%{transform: translateX(1150px);}
}
@keyframes tow{
    0%{transform: translateX(0px);}
    33%{transform: translateX(360px);}
    66%{transform: translateX(-760px);}
    99%{transform: translateX(0px);}
}
@keyframes three{
    0%{transform: translateX(0px);}
    33%{transform: translateX(-140px);}
    66%{transform: translateX(800px);}
    99%{transform: translateX(0px);}
}
@keyframes four{
    0%{transform: translateX(0px);}
    33%{transform: translateX(-900px);}
    66%{transform: translateX(180px);}
    99%{transform: translateX(0px);}
    
}
@keyframes five{
    0%{transform: translateX(0px);}
    33%{transform: translateX(450px);}
    66%{transform: translateX(-660px);}
    99%{transform: translateX(0px);}
    
}
@keyframes six{
    0%{transform: translateX(0px);}
    33%{transform: translateX(1000px);}
    66%{transform: translateX(-200px);}
    99%{transform: translateX(0px);}
}
@keyframes seven{
    0%{transform: translateX(0px);}
    33%{transform: translateX(300px);}
    66%{transform: translateX(-540px);}
    99%{transform: translateX(0px);}
}
@keyframes eight{
    0%{transform: translateX(0px);}
    33%{transform: translateX(-1100px);}
    66%{transform: translateX(50px);}
    99%{transform: translateX(0px);}
}
.about .aboutme{
    z-index: 1;
    position: absolute;
    left: 43.3%;
    top: 95px;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}
.about .aboutme:hover{
transform: translateY(-7px);
}
.img1{
    width: 280px;
    height: 240px;
    background-color: white;
    position: absolute;
    top: 350px;
    left: 22%;
    border-radius: 25px;
    border: 3px solid rgb(0,173,187);
    animation: img 3s infinite;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
.img1 img{
    width: 250px;
margin-left:15px;
margin-top: -100px;

}
.img1 h1{
position: absolute;
bottom: -10px;
left: 50px;
text-align: center;
}
@keyframes img{
    0%{transform: translateY(-50px);}
    50%{transform: translateY(0px);}
    100%{transform: translateY(-50px);}
}
.about p{
    position: absolute;
    right: 8%;
    top: 370px;
    font-size: 29px;
    font-weight: 400;
    text-align: center;
}
.Skill{
    position: absolute;
    left: 46%;
    top: 100%;
    font-size: 40px;
    text-transform: uppercase;
    transition: 0.5s;
}
.Skill:hover{
    transform: translateY(-7px);
}
.animate2{
    width: 100%;
    height: 650px;
    position: absolute;
    top: 800px;
    z-index: -10;
}
.animate2 i:nth-child(1){
    width: 300px;
    height: 5px;
    background-image: linear-gradient(122.32deg,#6d4aff 30.66%,#31d1d0 93.8%);
    position: absolute;
    margin-top: 70px;
    animation: one2 5s infinite;
    filter: blur(4px);
}
.animate2 i:nth-child(2){
    width: 300px;
    height: 5px;
    background-image: linear-gradient(122.32deg,#6d4aff 30.66%,#31d1d0 93.8%);
    position: absolute;
    margin-top: 160px;
    margin-left : 800px;
    animation: tow2 5.4s infinite;
    filter: blur(4px);
}
.animate2 i:nth-child(3){
    width: 300px;
    height: 5px;
    background-image: linear-gradient(122.32deg,#6d4aff 30.66%,#31d1d0 93.8%);
    position: absolute;
    margin-top: 240px;
    margin-left : 300px;
    animation: three2 5.4s infinite;
    filter: blur(4px);
}
    .animate2 i:nth-child(4){
    width: 300px;
    height: 5px;
    background-image: linear-gradient(122.32deg,#6d4aff 30.66%,#31d1d0 93.8%);
    position: absolute;
    margin-top: 320px;
    margin-left : 950px;
    animation: four2 4.7s infinite;
    filter: blur(4px);
}
.animate2 i:nth-child(5){
    width: 300px;
    height: 5px;
    background-image: linear-gradient(122.32deg,#6d4aff 30.66%,#31d1d0 93.8%);
    position: absolute;
    margin-top: 400px;
    margin-left : 640px;
    animation: five2 4.8s infinite;
    filter: blur(4px);
}
.animate2 i:nth-child(6){
    width: 300px;
    height: 5px;
    background-image: linear-gradient(122.32deg,#6d4aff 30.66%,#31d1d0 93.8%);
    position: absolute;
    margin-top: 480px;
    margin-left : 170px;
    animation: six2 5.3s infinite;
    filter: blur(4px);
}
.animate2 i:nth-child(7){
    width: 300px;
    height: 5px;
    background-image: linear-gradient(122.32deg,#6d4aff 30.66%,#31d1d0 93.8%);
    position: absolute;
    margin-top: 560px;
    margin-left : 780px;
    animation: seven2 4.6s infinite;
    filter: blur(4px);
}
.animate2 i:nth-child(8){
    width: 300px;
    height: 5px;
    background-image: linear-gradient(122.32deg,#6d4aff 30.66%,#31d1d0 93.8%);
    position: absolute;
    margin-top: 620px;
    margin-left : 1130px;
    animation: eight2 5s infinite;
    filter: blur(4px);
}
@keyframes one2{
    0%{transform: translateX(1150px);}
    50%{transform: translateX(0px);}
    100%{transform: translateX(1150px);}
}
@keyframes tow2{
    0%{transform: translateX(0px);}
    33%{transform: translateX(380px);}
    66%{transform: translateX(-760px);}
    99%{transform: translateX(0px);}
}
@keyframes three2{
    0%{transform: translateX(0px);}
    33%{transform: translateX(-140px);}
    66%{transform: translateX(800px);}
    99%{transform: translateX(0px);}
}
@keyframes four2{
    0%{transform: translateX(0px);}
    33%{transform: translateX(-900px);}
    66%{transform: translateX(180px);}
    99%{transform: translateX(0px);} 
}
@keyframes five2{
    0%{transform: translateX(0px);}
    33%{transform: translateX(500px);}
    66%{transform: translateX(-660px);}
    99%{transform: translateX(0px);}
}
@keyframes six2{
    0%{transform: translateX(0px);}
    33%{transform: translateX(980px);}
    66%{transform: translateX(-200px);}
    99%{transform: translateX(0px);}
}
@keyframes seven2{
    0%{transform: translateX(0px);}
    33%{transform: translateX(240px);}
    66%{transform: translateX(-540px);}
    99%{transform: translateX(0px);}
}
@keyframes eight2{
    0%{transform: translateX(0px);}
    33%{transform: translateX(-1100px);}
    66%{transform: translateX(50px);}
    99%{transform: translateX(0px);}
}
.theskill span{
    border-radius: 20px;
    border: 2px solid rgb(0,173,187);
    background-color: white ;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    transition: .5s;
}
.theskill span:hover{
transform: translateY(-15px);
}
.theskill span:nth-child(2){
    width: 250px;
    height: 300px;
    position: absolute;
    right: 240px;
    top:900px ;
}
.theskill span:nth-child(3){
    width: 250px;
    height: 300px;
    position: absolute;
    left: 240px;
    top:900px ;
}
.theskill span:nth-child(4){
    width: 250px;
    height: 300px;
    position: absolute;
    right: 630px;
    top:900px ;
}
.theskill span:nth-child(5){
    width: 250px;
    height: 300px;
    position: absolute;
    right: 240px;
    top:1300px ;
}
.theskill span:nth-child(6){
    width: 250px;
    height: 300px;
    position: absolute;
    right: 630px;
    top:1300px ;
}
.theskill span:nth-child(7){
    width: 250px;
    height: 300px;
    position: absolute;
    left: 240px;
    top:1300px ;
}
.theskill span i{
    font-size: 130px;
    color: rgb(0,173,187);
    position: absolute;
    left: 65px;
    top: 15px;
}
.theskill span h1{
    position: absolute;
    left: 75px;
    top: 160px;
    font-size: 55px;
}
.contactme{
    width: 100%;
    height: 500px;
    position: relative;
    background-color: rgb(0,173,187);
    top: 1600px;
    color: #fff;
}
.contactme h1{
    position: absolute;
    left: 43.5%;
    top: 10px;
    font-size: 40px;
    color: rgb(255,255,255);
    transition: .5s ;
}
.contactme h1:hover{
    transform: translateY(-7px);
}
.contactme .location{
    position: absolute;
    left: 15%;
    font-size: 25px;
    top: 170px;
}
.contactme .location h3{
    padding: 14px;
    font-weight: 400;
}
.contactme .location h3 i{
    padding: 0 15px;
}
.contactme .contact{
    position: absolute;
    right: 9%;
    top:170px ;
    
}
.contactme .contact input{
    margin: 25px;
    border-radius: 3px;
    border: none;
    transition: .5s;
}
.contactme .contact input:focus{
    outline: none;
}
.contactme  .contact span{
color: rgb(121,117,117);
text-transform: uppercase;
transition: .5s;

}
.contactme  .contact .spanname{
position: absolute;
left: 35px;
top: 32px;
}
.contactme  .contact .spanemail{
    position: absolute;
    left: 310px;
    top: 32px;
}
.contactme  .contact .spanmassege{
    position: absolute;
    left: 35px;
    top: 95px;
}
.contactme .contact .name {
padding: 6px 5px;
border: gray solid 2px;

}
.contactme .contact .email{
    padding: 6px 5px;
    border: gray solid 2px;

}
.contactme .contact .message{
    padding: 6px 5px;
    border: gray solid 2px;

}
.contactme .contact .message{
    display: block;
    position: absolute;
    right: 23px;
    border-radius: 6px;
}
.contactme .contact .btn{
    position: absolute;
    top: 230px;
    right: 1px;
    font-size:25px;
    padding: 2px 23px;
    border-radius: 7px;
    color: rgb(0, 0, 0);
    transition: .5s;
    font-weight: 500;
}
.contactme .contact .btn:hover{
    transform: scale(1.1);
}
.contact .email:valid ~ .spanemail ,  .contact .email:focus ~ .spanemail{
    color: #31d1d0;
    transform: translate(10px,-15px);
    font-size: 0.85em;
    background-color: white;
    border-left:  rgb(0,173,187) 1px solid ;
    border-right:  rgb(0,173,187) 1px solid ;
    padding: 0 5px;
    letter-spacing: 2px;
}
.contact .name:valid ~ .spanname , .contactme  .contact .name:focus ~ .spanname{
    color: #31d1d0;
    transform: translate(10px,-15px);
    font-size: 0.85em;
    background-color: white;
    border-left:  rgb(0,173,187) 1px solid ;
    border-right:  rgb(0,173,187) 1px solid ;
    padding: 0 5px;
    letter-spacing: 2px;
}
.contact .message:valid ~ .spanmassege , .contactme  .contact .message:focus ~ .spanmassege{
    color: #31d1d0;
    transform: translate(10px,-20px);
    font-size: 0.85em;
    background-color: white;
    border-left:  rgb(0,173,187) 1px solid ;
    border-right:  rgb(0,173,187) 1px solid ;
    padding: 0 5px;
    letter-spacing: 2px;
}
.contact .message:focus{
    outline: none;

    transition: .5s;
}
.contact .name:valid, .contactme  .contact .name:focus{
    border: #31d1d0 1px solid;
}
.contact .email:valid, .contactme  .contact .email:focus{ 
    border: #31d1d0 1px solid;
}
.contact .message:valid, .contactme  .contact .message:focus{
    border: #31d1d0 1px solid;
}